
.footer{
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    border: solid 2px black;
    width: 500px;
   margin-left: 400px;
   text-align: center;
   color: hsl(329, 77%, 42%);
   background-color: #00ff84;
}