.texto{
        font-family: "Roboto", sans-serif;
        width: 500px;
        color: rgb(28, 149, 127);


}
.titulo{
        font-family: 'Times New Roman', Times, serif;

        color:yellowgreen;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;

}